<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="netflix.css">
    <title>Netflix</title>
</head>
<body>
    <div class="contents">
        <div class="box">
            <h1 class="topic">เลือกผู้ชม</h1>
            <ul class="card-list">
                <li class="card">
                    <a href="netflix.html">
                        <div class="avatar-wrapper">
                            <div class="profile-icon" style="background-image:url(https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABVsrmU9HCosVLWJev-r2TgDG0YmqgkCzHk4IogCqoezXGqLBTO8WYiEsZzLa7wHfy5kUpS83uFaFJCJvPv-PT8crwDnybkL1fy80.png?r=72e)"></div>
                            <span>peem</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="netflix.html">
                        <div class="avatar-wrapper">
                            <div class="profile-icon" style="background-image:url(https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABREzQegQ9jTa-dsOxqNgzYc65b1kPCMXLF6U50XSCS1wTqAmqqqG75HSP5jLldIqhD3byGwvv_CVCUxr56_p84A57BJCJi3qEzBS.png?r=b1f)"></div>
                            <span>kannnnn.</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="netflix.html">
                        <div class="avatar-wrapper">
                            <div class="profile-icon" style="background-image:url(https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABTuf-Egpszf1kIdm9YfoJsbYBMBsFas5AGVIfB9Bc8Ay1bzoq8D4aGuUba_yc0MHThb0PombcxXdCVfok1PW0Tl2K8yM-JC5av3b.png?r=9ef)"></div>
                            <span>memo</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="netflix.html">
                        <div class="avatar-wrapper">
                            <div class="profile-icon" style="background-image:url(https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABRYm6KzmodKtW0HWRvy8J1HPx01LGvrb73F_Mmi5vgliYJBY3lFyidnCy1BwX065Rs5_JayS8a7Zc24BX1IIHjX8Bx95cAm5HYks.png?r=a29)"></div>
                            <span>น้องเนา</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="netflix.html">
                        <div class="avatar-wrapper">
                            <div class="profile-icon" style="background-image:url(https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABfBs_RmrXu6XN02hkLZzUgrqSOMFIx6LUk_-T4dG4Vgr7rwnmYyejpUUebFqmVDbnrwxESqJu6ml0q-G6KQVzRqKA42KmNEPkDmn.png?r=f55)"></div>
                            <span>Kids</span>
                        </div>
                    </a>
                </li>
            </ul>
            <a class="button" href="netflix_profile_setting.html">จัดการโปรไฟล์</a>
        </div>
    </div>
    
</body>
</html>


<!-- src="https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABVsrmU9HCosVLWJev-r2TgDG0YmqgkCzHk4IogCqoezXGqLBTO8WYiEsZzLa7wHfy5kUpS83uFaFJCJvPv-PT8crwDnybkL1fy80.png?r=72e"
src="https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABREzQegQ9jTa-dsOxqNgzYc65b1kPCMXLF6U50XSCS1wTqAmqqqG75HSP5jLldIqhD3byGwvv_CVCUxr56_p84A57BJCJi3qEzBS.png?r=b1f"
src="https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABTuf-Egpszf1kIdm9YfoJsbYBMBsFas5AGVIfB9Bc8Ay1bzoq8D4aGuUba_yc0MHThb0PombcxXdCVfok1PW0Tl2K8yM-JC5av3b.png?r=9ef"
src="https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABRYm6KzmodKtW0HWRvy8J1HPx01LGvrb73F_Mmi5vgliYJBY3lFyidnCy1BwX065Rs5_JayS8a7Zc24BX1IIHjX8Bx95cAm5HYks.png?r=a29"
src="https://occ-0-1588-64.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABfBs_RmrXu6XN02hkLZzUgrqSOMFIx6LUk_-T4dG4Vgr7rwnmYyejpUUebFqmVDbnrwxESqJu6ml0q-G6KQVzRqKA42KmNEPkDmn.png?r=f55" -->